<footer class="footer">
	<span id="rails">Built with <%= link_to image_tag("rails.ico"), "https://rubyonrails.org" %></span>
	<span id="github">Hosted by <%= link_to image_tag("heroku.ico"), "https://heroku.com" %></span>
</footer>